# This task can be used as a generic BOSH deploy task. If you are deploying CF
# it is recommended that you use `cf-deployment-concourse-tasks` instead.
---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: relintdockerhubpushbot/cf-deployment-concourse-tasks
    tag: v5.20.0

inputs:
- name: log-cache-ci # - This repo
- name: bbl-state      # - The Director's `bbl-state.json`
- name: bosh-release   # - The release that contains the manifest file.
- name: ops-files      # - The directory from which to read ops-files
- name: vars-files     # - The directory from which to read vars files
- name: cf-deployment-concourse-tasks

run:
  path: log-cache-ci/tasks/bosh-deploy/task

params:
  # - Optional
  # - Path to the directory containing the `bbl-state.json` file
  # - The path is relative to root of the `bbl-state` input
  # - Defaults to the root of the `bbl-state` input
  BBL_STATE_DIR:

  # - Required
  # - The name of the deployment to deploy.
  DEPLOYMENT_NAME:

  # - Required
  # - Filepath to the deployment manifest file.
  # - The path is relative to the bosh-release.
  MANIFEST_FILE:

  # - Optional
  # - List of operations files to be applied to the manifest
  # - Quoted and space-separated
  # - Ops will be applied in the order they're listed
  # - Paths are relative to root of the `ops-files` input
  OPS_FILES:

  # - Optional
  # - List of variable files to be applied to the manifest
  # - Quoted and space-separated
  # - Variable files will be applied in the order they're listed
  # - Paths are relative to root of the `vars-files` input
  # - Different from VARS_STORE_FILE in that these values are interpolated with `-l`
  #   and will never be generated by the BOSH CLI.
  VARS_FILES:
