platform: linux

inputs:
# - The source bosh release repo where the script resides and will be ran.
- name: release-repo
# - The repo that contains the task scripts.
- name: log-cache-ci
# - The director that contains the downloaded golang blobs.
- name: golang-blobs

outputs:
# - The directory where the result of running the script is copied. This will
#   include all the files from the input bosh release.
- name: updated-release-repo

params:
  # - Required
  # - The version of Go to bump to.
  VERSION:

  # - Required
  # - GCS JSON key for blob storage.
  JSON_KEY:

run:
  path: ../log-cache-ci/tasks/bump-golang/task
  dir: updated-release-repo
